form {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

form input {
  width: 100%;

}

.titulo{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  gap: 10px; /* Espaçamento entre os campos */
}

button {
  margin-left: 15px;
  margin-top: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

mat-form-field {
  width: 20%;
}

mat-card {
    margin-bottom: 30px;

}
