<mat-card>
  <mat-card-title class="titulo">Confirmar Exclusão Tipo de Serviço</mat-card-title>
  <form>
    <div *ngIf="tipoServico" class="form-row">
      <mat-form-field>
        <input matInput placeholder="Descrição"  [value]="tipoServico.descricao" name="descricao" disabled>
      </mat-form-field>
    </div>
  </form>

  <div class="button-container">
    <button mat-raised-button (click)="deleteTipoServico()">Deletar</button>

    <button mat-raised-button (click)="cancelTipoServico()">Cancelar</button>
  </div>
</mat-card>
