form {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.titulo{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  gap: 10px; /* Espaçamento entre os campos */

}

button {
  margin-left: 15px;
  margin-top: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Alinha os botões com espaço entre eles */
}

mat-form-field {
  width: 20%;
}
