<mat-card>
  <mat-card-title class="titulo">Confirmar Exclusão de Permissão</mat-card-title>
  <form>
    <div *ngIf="permissoes" class="form-row">
    <mat-form-field>
      <input matInput placeholder="httpMethod" [value]="permissoes.httpMethod" name="httpMethod" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="urlPattern"  [value]="permissoes.urlPattern" name="urlPattern" disabled>
    </mat-form-field>
    </div>
    <div class="form-row">
    <mat-form-field>
      <input matInput placeholder="Role"  [value]="permissoes.role" name="role" disabled>
    </mat-form-field>
    </div>
  </form>

  <div class="button-container">
    <button mat-raised-button (click)="deletePermissao()" color="primary">
      Deletar
    </button>

    <button mat-raised-button (click)="cancelPermissao()" color="primary">
      Cancelar
    </button>
  </div>

</mat-card>





